<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fiora.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>فيورا</name>
  <description>تطبيق فيورا</description>
  <author email="dev@fiora.com" href="http://fiora.com">فيورا</author>
  <content src="فيورا-fixed.html" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <preference name="android-minSdkVersion" value="22" />
  <preference name="android-targetSdkVersion" value="33" />
</widget>
